.first {
    
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        background-color: lightblue;
    }

    h3{
        text-align: center;
    }
    .second{
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right:300px;
        margin-left: 300px;
        background-color: lightblue;
    }

    .third{
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right:500px;
        margin-left: 500px;
        background-color: lightblue;
    }

.firstp {

border: 1px solid black;
background-color: lightblue;
padding-top: 100px;
padding-right:200px;
padding-bottom: 100px;
padding-left: 200px;
}

.secondp {

border: 1px solid black;
background-color: lightblue;
padding-top: 50px;
padding-right:200px;
padding-bottom: 50px;
padding-left: 200px;
}

.thirdp{
    
border: 1px solid black;
background-color: lightblue;
padding-top: 10px;
padding-right:200px;
padding-bottom: 10px;
padding-left: 200px;
}

.firsta {
    height:300px;
    width: 300px;
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        background-color: lightblue;
    }

   
    .seconda{
        height:300px;
        width: 300px;
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right:300px;
        margin-left: 300px;
        background-color: lightblue;
    }

    .thirda{
        height:300px;
        width: 300px;
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right:500px;
        margin-left: 500px;
        background-color: lightblue;
    }

.firstpa {
    height:300px;
    width: 300px;
border: 1px solid black;
background-color: lightblue;
padding-top: 100px;
padding-right:200px;
padding-bottom: 100px;
padding-left: 200px;
}

.secondpa {
    height:300px;
    width: 300px;
border: 1px solid black;
background-color: lightblue;
padding-top: 50px;
padding-right:200px;
padding-bottom: 50px;
padding-left: 200px;
}

.thirdpa{
    height:300px;
    width: 300px;
border: 1px solid black;
background-color: lightblue;
padding-top: 10px;
padding-right:200px;
padding-bottom: 10px;
padding-left: 200px;
}
